h1 {
	color: white;
	font-family: 'Lobster', cursive;
}
body {
	background-image: url(http://cache.desktopnexus.com/thumbnails/80915-bigthumbnail.jpg);
	background-size: cover;
	font-family: 'Bree Serif', serif;
	color: white;
}
